<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.ngo.eide.NgoStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ngo.eide.perspectives.NgoEngPerspective"
            icon="icons/releng_gears.gif"
            id="org.ngo.eide.perspectives.NgoEngPerspective"
            name="NGO Engineering">
      </perspective>
   </extension>
   
</plugin>
